#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 1rem;
    border: 0.2rem solid black;
    text-align: left;
}

.card > p {
    margin: 0%;
}

.cardBody > .description {
    height: 6rem;
    overflow: hidden;
}

/* .edit-btn{
    display: none;
}
.card:focus > .edit-btn{
    display: inline-block;
} */